.vscode/
venv/
__pycache__
docs/build/
build/
dist
.idea
mewpy.egg-info
examples/models/gecko/eciML1515_batch.xml
*.log
.tox
.eggs
.coverage
.pytest_cache
htmlcov
run_tox.sh
tests/reports/
.ipynb_checkpoints
.DS_Store
